/* CSS declarations go here */
* { }

body {
	font-family: sans-serif;
	background-color: #eaeaea;
	background-image: linear-gradient(to bottom, #eaeaea, #efefef 100%);
	background-attachment: fixed;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0;
	margin: 0;
	font-size: 14px;
}

.container {
	max-width: 600px;
	margin: 0 auto;
	min-height: 100%;
	background: white;
	box-shadow: 0px 0px 8px 1px rgba( 0, 0, 0, 0.1);
	transition: all 0.5s ease-in-out;
}

header {
	background: #fff;
	padding: 20px 15px 15px 15px;
	position: relative;
}

#login-buttons {
	display: block;
}

h1 {
	font-size: 1.5em;
	margin: 0;
	margin-bottom: 10px;
	display: inline-block;
	margin-right: 1em;
}

form {
	margin-top: 10px;
	margin-bottom: -10px;
	position: relative;
}

.new-task input {
	box-sizing: border-box;
	padding: 10px 0;
	background: white;
	border: none;
	width: 100%;
	padding-right: 80px;
	font-size: 1em;
}

.new-task input:focus{
	outline: 1px solid grey;
	background: grey;

}

ul {
	margin: 0;
	padding: 0;
	background: white;
	transition: all 0.5s ease-in-out;
}

.delete {
	float: right;
	font-weight: bold;
	background: none;
	font-size: 1em;
	position: relative;
	border: 0;
	border-radius: 3px;
}

.delete:hover {
	border: 1px solid #aeaeae;

}

li {
	position: relative;
	list-style: none;
	padding: 15px;
	border-bottom: #eee solid 1px;
	transition: all 0.5s ease-in-out;
}

li .text {
	margin-left: 10px;
}

li.checked {
	color: #888;
}

li.checked .text {
	text-decoration: line-through;
}

li.private {
	background: #eee;
	border-color: #ddd;
}

header .hide-completed {
	float: right;
}

.toggle-private {
	margin-left: 5px;
}

@media (max-width: 600px) {
	li {
		padding: 12px 15px;
	}

	.search {
		width: 150px;
		clear: both;
	}

	.new-task input {
		padding-bottom: 5px;
	}
}